@import 'styles/base';

.title {
	color: $black;
	font-weight: 700;
}

.line-break {
	width: 100%;
	border: 1px solid #d5d5d5;
}

.input {
	border-radius: 30px;
	border: 3px solid #d5d5d5;
	color: $blue;
	padding: 6px 18px;
	font-weight: 500;
}

.form-label {
	font-weight: 500;
	margin-top: 7px;
	margin-bottom: 0;
	color: $lightGray;
}

.button {
	background-color: $darkBlue;
	font-weight: 700;
	border-color: $darkBlue;
	font-size: 18px;
	border-radius: 30px;
}

.modal {
	&:nth-of-type(even) {
		z-index: 1052 !important;
	}
}
.modal-backdrop {
	&.show {
		&:nth-of-type(even) {
			z-index: 1050 !important;
		}
	}
}

audio {
	height: 22px;
	width: 210px;
}

input {
	&[type='number'] {
		-moz-appearance: textfield;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.spinner-border {
	color: $blue;
}
