@import 'App';
@import 'styles/header';
@import 'styles/footer';
@import 'styles/home';
@import 'styles/pricing';
@import 'styles/create-resume';
@import 'styles/alert';
@import 'styles/login';
@import 'styles/dashboard';
@import 'styles/admin';
@import 'styles/pagination';
@import 'styles/view-candidates';
@import 'styles/draft-job';
@import 'styles/signup';
@import 'styles/view-sample-work';
