@import 'include-media/dist/_include-media.scss';
@import 'base.scss';

#admin {
	.header {
		display: flex;
		flex-wrap: wrap;
		padding-left: 30px;
		border-bottom: 2px solid #d5d5d5;
		padding-bottom: 10px;

		.input {
			&[name='search'] {
				width: 470px;
				margin-right: auto;
				background-image: url('./../images/SEARCH ICON.png');
				background-position: 7px 7px;
				background-repeat: no-repeat;
				text-indent: 17px;
				background-size: 20px auto;
				margin-top: auto;
				margin-bottom: auto;
			}

			&[name='limit'] {
				width: 80px;
				margin-left: 10px;
			}
		}
	}

	.footer {
		display: flex;
		flex-wrap: wrap;
		padding-left: 30px;
		padding-top: 50px;

		.pagination {
			margin-left: auto;
			margin-right: 10px;
		}

		.input {
			&[name='limit'] {
				width: 80px;
				margin-left: 10px;
			}
		}
	}

	#newApplicants,
	#approvedApplicants,
	#rejectedApplicants {
		// .candidate {
		// 	padding: 1rem 20px;
		// 	border-bottom: 2px solid #d5d5d5;

		// 	.profile {
		// 		margin-bottom: 5px;

		// 		.img-fluid {
		// 			border-radius: 50%;
		// 			width: 50px;
		// 			float: left;
		// 			margin-right: 15px;
		// 			height: 50px;
		// 			object-fit: cover;
		// 		}

		// 		.name,
		// 		.job {
		// 			display: block;
		// 		}

		// 		.name {
		// 			color: $blue;
		// 			font-weight: 700;
		// 			margin-bottom: 0;
		// 		}
		// 	}

		// 	.salary-expected {
		// 		color: $blue;
		// 		font-weight: 700;
		// 		text-align: left;
		// 		margin-bottom: 5px;
		// 	}

		// 	.address {
		// 		color: #606060;
		// 		font-weight: 500;
		// 		font-size: 14px;
		// 	}

		// 	.submitted {
		// 		color: #606060;
		// 		font-weight: 500;
		// 		font-size: 14px;
		// 		text-align: center;
		// 	}

		// 	.available {
		// 		color: $darkBlue;
		// 		font-weight: 500;
		// 		font-size: 14px;
		// 		margin-bottom: 0;
		// 		text-align: right;
		// 	}

		// 	.per-hour {
		// 		font-weight: 700;
		// 		color: #298494;
		// 		margin-bottom: 0;
		// 	}

		// 	.location {
		// 		text-align: right;
		// 	}

		// 	.specialty-software-div {
		// 		display: flex;
		// 		margin-bottom: 10px;
		// 	}

		// 	.specialty-software-arrow {
		// 		background-color: transparent;
		// 		border: none;
		// 		margin-top: 10px;
		// 		width: 24px;
		// 	}

		// 	.title {
		// 		margin-bottom: 0;
		// 	}

		// 	.specialty-software {
		// 		display: flex;
		// 		margin: 0 10px;
		// 		overflow-x: auto;
		// 		scrollbar-width: none;
		// 		scroll-behavior: smooth;

		// 		.specialty-software-item {
		// 			color: $flatBlack;
		// 			background-color: $gray;
		// 			margin-top: 10px;
		// 			margin-right: 5px;
		// 			padding: 5px 10px;
		// 			border-radius: 30px;
		// 			font-size: 14px;
		// 			font-weight: 500;
		// 			flex: none;
		// 		}
		// 	}

		// 	.recruiters-comment {
		// 		color: $flatBlack;
		// 		font-weight: 500;
		// 		white-space: pre-wrap;
		// 		line-height: 1.5;
		// 		overflow: hidden;
		// 		text-overflow: ellipsis;
		// 		display: -webkit-box;
		// 		-webkit-line-clamp: 3;
		// 		-webkit-box-orient: vertical;
		// 	}

		// 	.line-break {
		// 		margin-top: 0.5rem;
		// 		margin-bottom: 0.5rem;
		// 	}

		// 	.link {
		// 		color: #298494;
		// 		font-weight: 500;
		// 		background-color: $white;
		// 		border: none;
		// 		padding: 0;

		// 		&:hover {
		// 			text-decoration: underline;
		// 		}
		// 	}

		// 	.button {
		// 		color: #606060;
		// 		border-color: #606060;
		// 		background-color: $white;
		// 		border-radius: 20px;

		// 		&.remove {
		// 			background-color: #606060;
		// 			color: $white;
		// 			border-color: #606060;
		// 		}
		// 	}

		// 	.mini-slide {
		// 		position: relative;
		// 		margin: 1rem 0 2rem;

		// 		.carousel-item img {
		// 			object-fit: cover;
		// 			object-position: center;
		// 			height: 14rem;
		// 		}

		// 		.carousel-control-prev,
		// 		.carousel-control-next {
		// 			color: #606060;
		// 			font-size: 2rem;
		// 			top: auto;
		// 			bottom: -2.1rem;
		// 			width: 1rem;
		// 			font-size: 24px;
		// 		}

		// 		.carousel-control {
		// 			color: $blue;
		// 		}

		// 		.carousel-control-prev {
		// 			left: 0;

		// 			&:hover {
		// 				color: $blue;
		// 			}
		// 		}

		// 		.carousel-control-next {
		// 			right: auto;
		// 			left: 1.5rem;

		// 			&:hover {
		// 				color: $blue;
		// 			}
		// 		}

		// 		.num {
		// 			position: absolute;
		// 			bottom: -2.1rem;
		// 			right: 0;
		// 			color: #606060;
		// 			font-weight: 600;
		// 			font-size: 16px;
		// 		}
		// 	}

		// 	.remove-shortlist {
		// 		background-color: #606060;
		// 		color: #ffffff;
		// 		border-color: #606060;
		// 	}

		// 	.itel-col {
		// 		padding-left: 2rem;
		// 	}
		// }

		// .candidate {
		// 	display: flex;
		// 	padding-bottom: 50px;
		// 	margin-top: 20px;
		// 	border-bottom: 2px solid $gray;
		// 	flex-direction: column;

		// 	@include media('>=tablet') {
		// 		flex-direction: row;
		// 		padding-bottom: 10px;
		// 	}

		// 	@include media('>=desktop') {
		// 		flex-direction: row;
		// 		padding-left: 30px;
		// 		padding-bottom: 10px;
		// 	}

		// 	@include media('>1300px') {
		// 		flex-direction: row;
		// 		padding-bottom: 40px;
		// 	}

		// 	.box-title {
		// 		color: $black;
		// 		font-weight: 700;
		// 		margin-bottom: 0;
		// 	}

		// 	.profile-left {
		// 		display: flex;
		// 		flex-direction: column;
		// 		margin-bottom: 10px;
		// 		margin-right: 0;
		// 		flex: 1;

		// 		@include media('>=tablet') {
		// 			margin-right: 20px;
		// 		}

		// 		.profile-identity {
		// 			display: flex;
		// 			justify-content: space-between;

		// 			.box-a {
		// 				display: flex;
		// 				flex: 1;

		// 				.box-1 {
		// 					flex-basis: 50px;
		// 					margin-right: 10px;

		// 					.resume-image {
		// 						width: 50px;
		// 						height: 50px;
		// 						object-fit: cover;
		// 						border-radius: 50%;
		// 					}
		// 				}

		// 				.box-2 {
		// 					.firstname-lastname,
		// 					.city {
		// 						margin-bottom: 0;
		// 						font-weight: 700;
		// 					}
		// 				}
		// 			}

		// 			.box-b {
		// 				display: flex;
		// 				justify-content: space-between;
		// 				flex: 2;

		// 				.box-1 {
		// 					.availability {
		// 						font-weight: 700;
		// 						color: $darkBlue;
		// 						margin-bottom: 0;
		// 					}
		// 				}

		// 				.box-2,
		// 				.box-3 {
		// 					.date-time-submitted {
		// 						font-weight: 700;
		// 						color: $black;
		// 						margin-bottom: 0;
		// 					}
		// 				}
		// 			}

		// 			// .box-2 {
		// 			// 	flex-basis: 85%;

		// 			// 	@include media('<375px') {
		// 			// 		flex-basis: 75%;
		// 			// 	}

		// 			// 	.id-code,
		// 			// 	.headline {
		// 			// 		margin-bottom: 0;
		// 			// 		color: $black;
		// 			// 		font-weight: 700;
		// 			// 	}

		// 			// 	.headline {
		// 			// 		display: -webkit-box;
		// 			// 		-webkit-box-orient: vertical;
		// 			// 		-webkit-line-clamp: 1;
		// 			// 		overflow: hidden;
		// 			// 	}
		// 			// }
		// 		}

		// 		.profile-stats {
		// 			display: flex;
		// 			justify-content: space-between;

		// 			@include media('<1300px') {
		// 				flex-direction: column;
		// 			}

		// 			.box-1 {
		// 				.about-yourself {
		// 					height: 20px;
		// 					width: 200px;
		// 				}
		// 			}

		// 			.box-2 {
		// 				display: flex;

		// 				.availability {
		// 					margin-bottom: 0;
		// 					font-weight: 700;
		// 					color: $lightBlue;
		// 				}
		// 			}

		// 			.box-3 {
		// 				display: flex;

		// 				.rating-color {
		// 					font-size: 16px;

		// 					&.checked {
		// 						color: $lightBlue;
		// 					}
		// 				}
		// 			}
		// 		}

		// 		.specialty-software {
		// 			display: grid;
		// 			margin-bottom: 10px;

		// 			.specialty-software-arrow {
		// 				background-color: transparent;
		// 				border: none;
		// 				color: $black;
		// 				padding: 0 10px;
		// 				grid-row: 1/-1;
		// 			}

		// 			.specialty-software-list {
		// 				display: flex;
		// 				overflow-x: auto;
		// 				scrollbar-width: none;
		// 				scroll-behavior: smooth;
		// 				grid-row: 1/1;
		// 				-ms-overflow-style: none;

		// 				&::-webkit-scrollbar {
		// 					display: none;
		// 				}

		// 				.specialty-software-item {
		// 					color: #606060;
		// 					background-color: #d6d6d6;
		// 					margin-right: 5px;
		// 					padding: 5px 10px;
		// 					border-radius: 30px;
		// 					font-size: 14px;
		// 					font-weight: 500;
		// 					flex: none;
		// 				}
		// 			}
		// 		}

		// 		.recruitment-comments {
		// 			.recruiters-comment {
		// 				display: -webkit-box;
		// 				-webkit-box-orient: vertical;
		// 				-webkit-line-clamp: 3;
		// 				overflow: hidden;
		// 				margin-bottom: 0;
		// 			}
		// 		}

		// 		.see-resume {
		// 			background-color: transparent;
		// 			border: none;
		// 			color: $darkBlue;
		// 			font-weight: 700;
		// 			padding: 0;

		// 			&:hover {
		// 				text-decoration: underline;
		// 			}
		// 		}
		// 	}

		// 	.profile-right {
		// 		min-width: 300px;

		// 		.button {
		// 			background-color: $white;
		// 			color: $flatBlack;
		// 			border-color: $flatBlack;

		// 			&.remove {
		// 				background-color: $flatBlack;
		// 				color: $white;
		// 			}
		// 		}

		// 		.mini-slide {
		// 			position: relative;

		// 			.carousel-control-prev,
		// 			.carousel-control-next {
		// 				color: #606060;
		// 				font-size: 2rem;
		// 				top: auto;
		// 				bottom: -2.1rem;
		// 				width: 1rem;
		// 				font-size: 24px;
		// 			}

		// 			.carousel-control-next {
		// 				right: auto;
		// 				left: 1.5rem;
		// 			}

		// 			.carousel-control-prev {
		// 				left: 0;
		// 			}

		// 			.carousel-item {
		// 				img {
		// 					display: block;
		// 					height: 270px;
		// 					width: 300px;

		// 					@include media('>=tablet') {
		// 						height: 180px;
		// 					}
		// 				}
		// 			}

		// 			.num {
		// 				position: absolute;
		// 				bottom: -2.1rem;
		// 				right: 0;
		// 				color: #606060;
		// 				font-weight: 600;
		// 				font-size: 16px;
		// 			}
		// 		}
		// 	}
		// }
	}

	.roles-permissions {
		padding: 30px;
	}
}

#seeResume {
	.modal-header {
		border-bottom: 0;
	}

	.modal-body {
		padding: 3rem 3rem 0;

		.close {
			position: absolute;
			top: 12px;
			right: 25px;
		}

		.item-title {
			&.color-1 {
				color: #298494;
				font-weight: 600;
			}

			&.color-2 {
				color: #0c3961;
				font-weight: 600;
			}
		}

		.data-title {
			color: $black;
			font-weight: 700;
		}

		.resume-image {
			height: 200px;
			width: 200px;
			border-radius: 50%;
			object-fit: cover;
		}

		.button {
			background-color: #0c3961;
			color: #ffffff;
			border-color: #0c3961;
			border-radius: 20px;
			margin-bottom: 10px;
			// padding: 6px 80px;
			width: 240px;

			&.button1 {
				background-color: #ffffff;
				color: #606060;
				border-color: #606060;
				// padding: 6px 88px;
			}

			&.remove-shortlist {
				// padding: 6px 23px;
			}

			&.add-shortlist {
				// padding: 6px 50px;
			}

			&.shortlist-candidates {
				// padding: 6px 31px;
				background-color: $white;
				color: $flatBlack;
				border-color: $flatBlack;
			}
		}

		.specialty-software {
			.specialty-software-item {
				color: #606060;
				background-color: #d6d6d6;
				margin-right: 5px;
				margin-bottom: 5px;
				padding: 5px 10px;
				border-radius: 30px;
				font-size: 14px;
				font-weight: 500;
				display: inline-block;
			}
		}

		.fas {
			cursor: pointer;
			margin-top: 3px;
			margin-left: 5px;
		}

		.edit-button {
			background-color: $lightBlue;
			color: $blue;
			border-color: $lightBlue;
			padding: 0 12px;
			border-radius: 10px;
			margin-left: 10px;
		}

		.fullname {
			color: #0c3961;
			font-weight: 700;
			display: flex;

			.input {
				padding: 0 12px;
			}
		}

		.city {
			color: $black;
			font-weight: 700;
		}

		.eng-pro,
		.availability,
		.specialty,
		.software {
			color: #606060;
			font-weight: 500;
		}

		.rating-color {
			color: #ababac;
			cursor: pointer;

			&.checked {
				color: #4adad8;
			}
		}

		.personal-info {
			.item-title {
				font-weight: 500;
				color: #ababac;
			}

			.item-value {
				color: $flatBlack;
				font-weight: 500;
			}
		}

		.salary {
			color: #0c3961;
			font-weight: 600;

			.input {
				display: inline-block;
				width: 100px;
				font-size: 14px;
			}
		}

		.upload-work {
			.figure {
				position: relative;

				&:hover > .title {
					display: none;
				}

				&:hover > .action {
					display: block;
				}

				.action {
					display: none;
					position: absolute;
					top: 45%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: $black;
					font-weight: 500;
					width: 100px;
					text-align: center;
					z-index: 9999;

					.button {
						background-color: transparent;
						border-color: transparent;
						padding: 0;
						color: $black;
						display: inline-block;
						width: auto;
						font-size: 12px;
						margin-bottom: 0;
					}

					span {
						margin: 0 5px;
					}
				}

				.figure-img {
					height: 140px;
					width: 230px;
				}

				.figure-caption {
					text-align: center;
					color: #606060;
					font-weight: 500;
				}

				.react-pdf__Page__canvas {
					margin: auto;
				}
			}
		}

		.work-history-item,
		.education-item {
			border-bottom: 2px solid #d5d5d5;
			padding-bottom: 1rem;
			margin-bottom: 0.7rem;

			&:nth-last-child(1) {
				border-bottom: none;
			}
		}

		.education-item {
			.item-choices {
				color: #298494;
				font-weight: 600;
			}

			.item-title {
				width: 18rem;
				color: #ababac;
				font-weight: 500;
			}

			.item-value {
				color: #606060;
				font-weight: 500;
			}
		}

		.work-history-item {
			position: relative;

			.fas {
				position: absolute;
				top: 0;
				right: 0;
			}

			.title {
				color: #298494;
				font-weight: 600;
				margin-bottom: 10px;
			}

			.company {
				margin-bottom: 0;
			}

			.company,
			.month-year {
				color: #606060;
				font-weight: 600;
			}

			.item-title {
				color: #818181;
				font-weight: 600;
				margin-bottom: 0;
			}

			.description {
				color: #606060;
				font-weight: 500;
				white-space: pre-wrap;
			}

			.company-expertise,
			.country,
			.company-size {
				// margin-bottom: 0;
				color: $flatBlack;
				font-weight: 500;
			}
		}

		.workspace-item {
			.item-title {
				width: 18rem;
				color: #ababac;
				font-weight: 500;
			}

			.item-value {
				color: #606060;
				font-weight: 500;
			}
		}

		.view {
			background-color: #ababac;
			border-color: #ababac;
			color: $blue;
			padding: 0 25px;
			border-radius: 0;
			font-weight: 500;
		}

		.recruitments-comment {
			white-space: pre-wrap;
		}
	}

	.modal-footer {
		border-top: 0;
	}
}

#seeJob {
	.modal-header {
		border-bottom: 0;
	}

	.modal-body {
		padding: 3rem 3rem 0;

		.close {
			position: absolute;
			top: 12px;
			right: 25px;
		}

		.item-title {
			&.color-1 {
				color: #298494;
				font-weight: 600;
			}

			&.color-2 {
				color: $black;
				font-weight: 700;
			}
		}

		.personal-info {
			.item-title {
				font-weight: 500;
				color: #ababac;
			}

			.item-value {
				color: $flatBlack;
				font-weight: 500;
			}
		}

		.button {
			background-color: #0c3961;
			color: #ffffff;
			border-color: #0c3961;
			border-radius: 20px;
			margin-bottom: 10px;
			// padding: 6px 80px;
			width: 240px;

			&.button1 {
				background-color: #ffffff;
				color: #606060;
				border-color: #606060;
				// padding: 6px 88px;
			}

			&.remove-shortlist {
				// padding: 6px 23px;
			}

			&.add-shortlist {
				// padding: 6px 50px;
			}

			&.shortlist-candidates {
				// padding: 6px 31px;
				background-color: $white;
				color: $flatBlack;
				border-color: $flatBlack;
			}
		}

		.specialty-software {
			.specialty-software-item {
				color: #606060;
				background-color: #d6d6d6;
				margin-right: 5px;
				margin-bottom: 5px;
				padding: 5px 10px;
				border-radius: 30px;
				font-size: 14px;
				font-weight: 500;
				display: inline-block;
			}
		}

		.fas {
			cursor: pointer;
			margin-top: 3px;
			margin-left: 5px;
		}

		.edit-button {
			background-color: $lightBlue;
			color: $blue;
			border-color: $lightBlue;
			padding: 0 12px;
			border-radius: 10px;
			margin-left: 10px;
		}

		.fullname,
		.country,
		.budget,
		.company,
		.date {
			color: $black;
			font-weight: 700;
		}

		.view {
			background-color: #ababac;
			border-color: #ababac;
			color: $blue;
			padding: 0 25px;
			border-radius: 0;
			font-weight: 500;
		}

		.description,
		.about {
			color: $black;
			white-space: pre-wrap;
		}
	}

	.modal-footer {
		border-top: 0;
	}
}
