$black: #000000;
$darkGray: #434343;
$lightGray: #666666;
$flatBlack: #606060;
$white: #ffffff;
$blue: #0c3961;
$darkBlue: #298494;
$lightBlue: #4adad8;
$lightCyan: #45818e;
$darkCyan: #0c343d;
$orange: #e69138;
$red: #cc0000;
$gray: #d6d6d6;
