@import 'base';

#header {
    .nav-link {
        color: $black;
        border-bottom: 2px solid transparent;
        padding: 8px 0;
        margin: 0 8px;
        font-weight: 500;

        &.active {
            color: $blue;
            border-bottom: 2px solid $blue;
        }

        &.talk-recruiter {
            color: $darkBlue;
            border: 1px solid $darkBlue;
            border-radius: 20px;
            width: 180px;
            text-align: center;
            padding: 5px 0;
        }
    }
}
