@import 'include-media/dist/_include-media.scss';
@import 'base';

#home {
	font-family: Arial, Helvetica, sans-serif;

	.sec-1 {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 0 5px;
		margin: auto;

		.title {
			color: $black;
			font-size: 30px;
			text-align: center;
			margin-bottom: 0;

			@include media('>=desktop') {
				font-size: 40px;
			}
		}

		.subtitle {
			color: $black;
			text-align: center;
			max-width: 835px;
			margin: auto;
			font-size: 15px;

			@include media('>=desktop') {
				font-size: 20px;
			}
		}

		.cta {
			display: flex;
			justify-content: center;
			padding: 20px 0;
			flex-direction: column;

			@include media('>=425px') {
				flex-direction: row;
			}

			.button {
				font-size: 12px;
				padding: 12px 18px;
				background-color: $lightCyan;
				border-color: $lightCyan;

				@include media('>=425px') {
					margin-left: 30px;
				}

				// &:nth-child(1) {
				// 	margin-right: 5px;
				// 	background-color: $lightCyan;
				// 	color: $white;
				// 	border-color: $lightCyan;
				// }

				// &:nth-child(2) {
				// 	margin-left: 5px;
				// 	background-color: $white;
				// 	color: $darkBlue;
				// 	border-color: $white;
				// }

				@include media('>=desktop') {
					font-size: 16px;
				}
			}

			span {
				margin: 12px 18px;
				text-align: center;
			}

			.link {
				margin: 12px 0;
				color: $lightCyan;
				text-align: center;
			}
		}

		.list {
			list-style: none;
			display: flex;
			justify-content: center;
			padding-left: 16px;
			margin: 0;
			flex-direction: column;

			@include media('>=576px') {
				padding-left: 0;
				flex-direction: row;
			}

			.item {
				margin: 0 5px;

				&::before {
					color: $darkGray;
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
					content: '\f00c';
					margin-right: 5px;
				}
			}
		}
		// text-align: center;
		// height: 90vh;
		// min-height: 500px;

		// .title {
		// 	font-size: 20px;

		// 	@include media('>=375px') {
		// 		font-size: 19px;
		// 	}

		// 	@include media('>=425px', '<tablet') {
		// 		font-size: 22px;
		// 	}

		// 	@include media('>=tablet', '<=desktop') {
		// 		font-size: 34px;
		// 	}

		// 	@include media('>desktop') {
		// 		font-size: 34px;
		// 	}

		// 	@include media('>=1200px') {
		// 		font-size: 40px;
		// 	}
		// }

		// .cta {
		// 	display: inline-block;

		// 	.button {
		// 		background-color: $white;
		// 		border-color: $darkBlue;
		// 		color: $darkBlue;
		// 		border-radius: 30px;
		// 		font-weight: 700;
		// 		font-size: 12px;
		// 		padding: 12px 18px;

		// 		@include media('>phone') {
		// 			padding: 12px 24px;
		// 			font-size: 14px;
		// 		}

		// 		@include media('>=desktop') {
		// 			font-size: 16px;
		// 		}

		// 		&:nth-child(1) {
		// 			margin-right: 15px;
		// 			// margin-right: 30px;
		// 			background-color: $orange;
		// 			border-color: $orange;
		// 			color: $white;
		// 		}
		// 	}
		// }

		// .list {
		// 	list-style: none;
		// 	padding-left: 0;

		// 	.item {
		// 		font-size: 11px;
		// 		display: inline-block;
		// 		margin-right: 5px;
		// 		color: $darkGray;

		// 		@include media('>=tablet', '<desktop') {
		// 			margin-right: 15px;
		// 			font-size: 14px;
		// 		}

		// 		@include media('>=desktop') {
		// 			font-size: 16px;
		// 			margin-right: 15px;
		// 		}

		// 		&::before {
		// 			color: $darkGray;
		// 			font-family: 'Font Awesome 5 Free';
		// 			font-weight: 900;
		// 			content: '\f00c';
		// 			// margin-right: 10px;
		// 			margin-right: 5px;
		// 		}
		// 	}
		// }
	}
}
