@import 'include-media/dist/_include-media.scss';
@import 'base.scss';

.pagination {
	margin-bottom: 10px;

	@include media('>=576px') {
		margin-right: 10px;
		margin-bottom: 0;
	}

	.page-item {
		&.active {
			color: $darkBlue;

			.page-link {
				background-color: $darkBlue;
				color: $white;
			}
		}

		.page-link {
			border-color: transparent;
			color: $flatBlack;
			font-weight: 500;
		}
	}
}
