@import 'base.scss';

#pricing {
    .sec-1 {
        padding-top: 100px;

        .head {
            text-align: center;
            margin-bottom: 50px;
        }

        .title {
            color: $black;
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 28px;

            s {
                color: $red;

                span {
                    color: $black;
                }
            }
        }

        .list {
            margin-top: 10px;
            list-style: none;
            padding-left: 0;

            .item {
                font-size: 16px;
                font-weight: 700;
                display: inline-block;
                margin-right: 10px;
                color: $darkGray;
                background-color: #fff2cc;
                color: $black;
            }
        }

        .subtitle {
            text-align: center;
            margin-left: 50px;
            margin-right: 80px;
            color: $black;
            font-weight: 400;
            font-size: 16px;
        }

        .line-break {
            margin-left: 25px;
            width: 80%;
            border: none;
            border-top: 1px solid $black;
        }

        .card {
            background-image: url('./../images/home_sec_2_card.png');
            background-size: 100% 100%;
            border: none;
            width: 400px;
            margin: auto;
            padding-bottom: 50px;

            .card-title {
                text-align: center;
                margin-left: 50px;
                margin-right: 80px;
                font-weight: 700;
                color: $black;
            }

            .list {
                list-style: none;
                padding-left: 68px;
                padding-right: 40px;

                .item {
                    display: block;
                    color: $black;
                    text-indent: -20px;
                    font-weight: 500;
                    line-height: 1.3;
                    margin-bottom: 0.5rem;
                    background-color: $white;

                    &::before {
                        font-family: 'Font Awesome 5 Free';
                        content: '\f00c';
                        display: inline-block;
                        margin-right: 19px;
                        font-weight: 900;
                        color: #69a856;
                        font-size: 16px;
                        vertical-align: middle;
                    }
                }
            }

            .button {
                width: 230px;
                border-radius: 20px;
                background-color: $white;
                border-color: $darkBlue;
                color: $darkBlue;
                text-align: center;
                margin-left: 50px;
                margin-right: 80px;
            }

            .card-text {
                width: 250px;
                color: $red;
                margin: auto;
                text-align: center;
            }
        }

        .question {
            margin: 50px 0;
        }

        .task {
            text-align: center;
            color: $black;

            .cta {
                display: inline-block;
                margin-top: 20px;

                .button {
                    padding: 14px;
                    width: 200px;
                    background-color: $white;
                    border-color: $darkBlue;
                    color: $darkBlue;
                    border-radius: 30px;

                    &:nth-child(1) {
                        margin-right: 30px;
                        background-color: #e69138;
                        border-color: #e69138;
                        color: $white;
                    }
                }
            }

            .list {
                margin-top: 20px;
                list-style: none;
                padding-left: 0;

                .item {
                    font-size: 16px;
                    display: inline-block;
                    margin-right: 10px;
                    color: $darkGray;
                    background-color: $white;
                    font-weight: 500;

                    &::before {
                        color: $darkGray;
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        content: '\f00c';
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
