@import 'base.scss';

#viewCandidates {
	padding: 70px 0 50px;

	.header {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 5px;

		.title {
			color: $blue;
			margin-top: 5px;
			margin-bottom: 0;

			sup {
				color: $darkBlue;
			}
		}

		.input {
			&[name='search'] {
				width: 470px;
				margin-right: auto;
				background-image: url('./../images/SEARCH ICON.png');
				background-position: 7px 7px;
				background-repeat: no-repeat;
				text-indent: 17px;
				background-size: 20px auto;
				margin-top: auto;
				margin-bottom: auto;
			}

			&[name='limit'] {
				width: 80px;
				margin-left: 10px;
			}
		}

		.button {
			margin-left: auto;
			border-radius: 30px;
			padding: 6px 57px;
			background-color: $blue;
			border-color: $blue;
			// width: 276px;
		}
	}

	.footer {
		display: flex;
		flex-wrap: wrap;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 50px;

		.pagination {
			margin-left: auto;
			margin-right: 10px;
		}

		.input {
			&[name='limit'] {
				width: 80px;
				margin-left: 10px;
			}
		}
	}

	.sidebar {
		padding-top: 3rem;
		padding-right: 0;
		padding-left: 15px;
		border-right: 2px solid #d5d5d5;

		.title {
			color: $darkBlue;
			font-weight: 500;
			padding-bottom: 10px;
		}

		.nav-item {
			border-bottom: 2px solid #d5d5d5;

			&:first-child {
				border-top: 2px solid #d5d5d5;
			}

			.nav-link {
				padding: 16px 0 12px;
				color: #0c3961;
				font-weight: 700;
				font-size: 16px;

				.fas {
					color: #606060;
					font-weight: 600;
					padding-right: 20px;
				}
			}
		}

		.filter-dropdown {
			display: none;
			padding-top: 5px;
			padding-bottom: 12px;

			.nav-item {
				font-size: 14px;
				font-weight: 500;
				margin-bottom: 5px;
				border-top: 0 !important;
				border-bottom: 0;

				.filter-input {
					display: none;

					& + .filter-label {
						color: #606060;
						margin-bottom: 0;
						margin-left: 15px;
						cursor: pointer;
					}

					&:checked + .filter-label {
						color: #298494;
					}
				}

				&::before {
					content: '';
					display: inline-block;
					width: 10px;
					height: 3px;
					margin: 4px 0;
				}

				&.checked {
					&::before {
						background-color: #298494;
					}
				}
			}
		}
	}

	.main {
		padding-left: 0;

		.candidate {
			padding: 24px 20px 24px 30px;
			border-bottom: 2px solid #d5d5d5;
			display: flex;

			.title {
				margin-bottom: 0;
			}

			.about-yourself {
				height: 22px;
				width: 190px;
			}

			.resume-image {
				border-radius: 50%;
				width: 50px;
				float: left;
				height: 50px;
				object-fit: cover;
				margin-right: 15px;
			}

			.id-code {
				margin-bottom: 0;
			}

			.available {
				color: #298494;
				font-weight: 500;
			}

			.profile {
				margin-bottom: 5px;

				.name,
				.job {
					display: block;
				}

				.name {
					color: $blue;
					font-weight: 700;
					margin-bottom: 0;
				}
			}

			.salary-expected {
				color: $blue;
				font-weight: 700;
				text-align: left;
				margin-bottom: 5px;
			}

			.per-hour,
			.eng-prof {
				font-weight: 500;
				color: $flatBlack;
				margin-bottom: 0;
			}

			.address {
				color: #606060;
				margin-bottom: 0;
				font-weight: 500;
			}

			.rating-color {
				color: #ababac;

				&.checked {
					color: #4adad8;
				}
			}

			.location {
				text-align: right;
			}

			.specialty-software-div {
				display: flex;
			}

			.specialty-software-arrow {
				background-color: transparent;
				border: none;
				margin-top: 10px;
				width: 24px;
			}

			.specialty-software {
				display: flex;
				margin: 0 10px;
				overflow-x: auto;
				scrollbar-width: none;
				scroll-behavior: smooth;

				.specialty-software-item {
					color: $flatBlack;
					background-color: $gray;
					margin-top: 10px;
					margin-right: 5px;
					padding: 5px 10px;
					border-radius: 30px;
					font-size: 14px;
					font-weight: 500;
					flex: none;
				}
			}

			.line-break {
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
			}

			.recruiters-comment {
				color: $flatBlack;
				font-weight: 500;
				white-space: pre-wrap;
				line-height: 1.5;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}

			.see-resume {
				color: #298494;
				font-weight: 500;
				background-color: $white;
				border: none;
				padding: 0;

				&:hover {
					text-decoration: underline;
				}
			}

			.button {
				color: #606060;
				border-color: #606060;
				background-color: $white;
				border-radius: 20px;
				// padding: 6px 57px;
				width: 240px;

				&.remove {
					background-color: #606060;
					color: $white;
					border-color: #606060;
				}
			}

			.mini-slide {
				position: relative;
				margin: 1rem 0 2rem;

				.carousel-item img {
					height: 12rem;
				}

				.carousel-control-prev,
				.carousel-control-next {
					color: #606060;
					font-size: 2rem;
					top: auto;
					bottom: -2.1rem;
					width: 1rem;
					font-size: 24px;
				}

				.carousel-control {
					color: $blue;
				}

				.carousel-control-prev {
					left: 0;

					&:hover {
						color: $blue;
					}
				}

				.carousel-control-next {
					right: auto;
					left: 1.5rem;

					&:hover {
						color: $blue;
					}
				}

				.num {
					position: absolute;
					bottom: -2.1rem;
					right: 0;
					color: #606060;
					font-weight: 600;
					font-size: 16px;
				}
			}

			.remove-shortlist {
				background-color: #606060;
				color: #ffffff;
				border-color: #606060;
			}

			.itel-col {
				padding-left: 2rem;
			}
		}

		#topVerifiedCandidates {
			padding-top: 46px;

			.header {
				padding-left: 30px;
				padding-right: 30px;
				border-bottom: 2px solid #d5d5d5;
				padding-bottom: 10px;

				.input {
					&[name='search'] {
						width: 470px;
						margin-right: auto;
						background-image: url('./../images/SEARCH ICON.png');
						background-position: 7px 7px;
						background-repeat: no-repeat;
						text-indent: 17px;
						background-size: 20px auto;
						margin-top: auto;
						margin-bottom: auto;
					}

					&[name='viewBy'] {
						width: 80px;
						margin-left: 10px;
					}
				}
			}
		}

		#shortlistedCandidates {
			padding-top: 46px;

			.header {
				padding-left: 30px;
				padding-right: 30px;
				border-bottom: 2px solid #d5d5d5;
				padding-bottom: 10px;

				.login-only {
					font-weight: 600;
					margin-bottom: 0;
					margin-top: 8px;

					.job {
						color: $blue;
						margin-right: 5px;
					}

					.company {
						color: #606060;
						margin-right: 10px;
					}

					.day {
						color: #ababac;
						font-size: 14px;
					}
				}

				.button {
					margin: 0;
					width: 176px;
					background-color: $white;
					border-color: $darkBlue;
					color: $darkBlue;
				}
			}
		}
	}

	footer {
		margin: 100px 0;

		.button {
			padding: 12px;
			width: 200px;
			background-color: $white;
			border-color: $darkBlue;
			color: $darkBlue;
			border-radius: 30px;
		}
	}
}

// #seeResume {
//     .modal-header {
//         border-bottom: 0;
//     }

//     .close {
//         position: absolute;
//         top: 12px;
//         right: 24px;
//     }

//     .modal-body {
//         padding: 3rem 3rem 0;

//         .item-title {
//             &.color-1 {
//                 color: #298494;
//                 font-weight: 600;
//             }

//             &.color-2 {
//                 color: #0c3961;
//                 font-weight: 600;
//             }
//         }

//         .resume-image {
//             height: 200px;
//             border-radius: 50%;
//             object-fit: cover;
//         }

//         .button {
//             background-color: #0c3961;
//             color: #ffffff;
//             border-color: #0c3961;
//             width: 250px;
//             border-radius: 20px;
//             margin-bottom: 10px;

//             &.shortlist-candidates {
//                 background-color: #ffffff;
//                 color: #606060;
//                 border-color: #606060;
//             }
//         }

//         .fullname {
//             color: #0c3961;
//             font-weight: 700;
//         }

//         .city,
//         .eng-pro,
//         .availability,
//         .specialty,
//         .software {
//             color: #606060;
//             font-weight: 500;
//         }

//         .rating-color {
//             color: #ababac;

//             &.checked {
//                 color: #4adad8;
//             }
//         }

//         .salary {
//             color: #0c3961;
//             font-weight: 600;
//         }

//         .upload-work-images,
//         .upload-work-documents {
//             .figure-img {
//                 height: 160px;
//                 width: 160px;
//                 object-fit: cover;
//             }

//             .figure-caption {
//                 text-align: center;
//                 color: #606060;
//                 font-weight: 500;
//             }
//         }

//         .work-history-item,
//         .education-item {
//             border-bottom: 2px solid #d5d5d5;
//             padding-bottom: 1rem;
//             margin-bottom: 0.7rem;

//             &:nth-last-child(1) {
//                 border-bottom: none;
//             }
//         }

//         .education-item {
//             .item-choices {
//                 color: #298494;
//                 font-weight: 600;
//             }

//             .item-title {
//                 width: 18rem;
//                 color: #ababac;
//                 font-weight: 500;
//             }
//         }

//         .work-history-item {
//             .title {
//                 color: #298494;
//                 font-weight: 600;
//                 margin-bottom: 10px;
//             }

//             .company {
//                 margin-bottom: 0;
//             }

//             .company,
//             .month-year {
//                 color: #606060;
//                 font-weight: 600;
//             }

//             .item-title {
//                 color: #818181;
//                 font-weight: 600;
//                 margin-bottom: 0;
//             }

//             .description,
//             .about {
//                 color: #606060;
//                 font-weight: 500;
//             }
//         }
//     }

//     .modal-footer {
//         border-top: 0;
//     }
// }
