@import 'base.scss';

#viewCandidates {
	display: flex;
	padding: 70px 0 50px;
	margin: 0 15px;
	flex-direction: column;

	.box-label {
		margin-bottom: 0;
		margin-right: 10px;
		color: $black;
		font-weight: 700;
	}

	.head {
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid $gray;
		flex-direction: column;

		@include media('>=tablet') {
			flex-direction: row;
		}

		.title {
			color: $blue;
			font-weight: 700;
			margin-top: 5px;
			margin-bottom: 0;
		}

		.button {
			width: 300px;
			border-radius: 30px;
			background-color: $blue;
			border-color: $blue;
			color: $white;
			margin-bottom: 5px;

			&.book-interview {
				background-color: $lightBlue;
				border-color: $lightBlue;
			}
		}
	}

	.foot {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		padding-top: 50px;

		@include media('>=576px') {
			flex-direction: row;
		}

		.view-by {
			display: flex;
			margin-top: 0;

			.input {
				&[name='limit'] {
					width: 80px;
					margin-left: 10px;
				}
			}
		}
	}

	.content {
		display: flex;

		.sidebar {
			display: none;
			border-right: 2px solid $gray;
			padding-top: 61px;

			@include media('>=desktop') {
				display: flex;
				flex-direction: column;
				min-width: 210px;
			}

			.title {
				color: $darkBlue;
				font-weight: 700;
			}

			.nav-item {
				border-bottom: 2px solid #d5d5d5;

				&:first-child {
					border-top: 2px solid #d5d5d5;
				}

				.nav-link {
					padding: 16px 0 12px;
					color: #0c3961;
					font-weight: 700;
					font-size: 16px;

					.fas {
						color: #606060;
						font-weight: 600;
						padding-right: 20px;
					}
				}
			}

			.filter-dropdown {
				display: none;
				padding-top: 5px;
				padding-bottom: 12px;

				.nav-item {
					font-size: 14px;
					font-weight: 500;
					margin-bottom: 5px;
					border-top: 0 !important;
					border-bottom: 0;

					.rating {
						.rating-color {
							color: $black;

							&.checked {
								color: $lightBlue;
							}
						}
					}

					.filter-input {
						display: none;

						& + .filter-label {
							color: #606060;
							margin-bottom: 0;
							margin-left: 15px;
							cursor: pointer;
						}

						&:checked + .filter-label {
							color: #298494;
						}
					}

					&::before {
						content: '';
						display: inline-block;
						width: 10px;
						height: 3px;
						margin: 4px 0;
					}

					&.checked {
						&::before {
							background-color: #298494;
						}
					}
				}
			}
		}

		.main {
			display: flex;
			flex-direction: column;
			flex: 1;

			.top {
				display: flex;
				justify-content: space-between;
				border-bottom: 2px solid $gray;
				padding-top: 50px;
				padding-bottom: 10px;
				flex-direction: column;

				@include media('>=tablet') {
					flex-direction: row;
				}

				@include media('>=desktop') {
					padding-left: 30px;
				}

				.input {
					&[name='search'] {
						background-image: url('./../images/SEARCH\ ICON.png');
						background-position: 7px 7px;
						background-repeat: no-repeat;
						text-indent: 17px;
						background-size: 20px auto;

						@include media('>=576px') {
							width: 470px;
						}
					}
				}

				.view-by {
					display: flex;
					margin-top: 10px;

					@include media('>=tablet') {
						margin-top: 0;
					}

					.input {
						&[name='limit'] {
							width: 80px;
							margin-left: 10px;
						}
					}
				}
			}

			.candidate {
				display: flex;
				padding-bottom: 50px;
				margin-top: 20px;
				border-bottom: 2px solid $gray;
				flex-direction: column;
				cursor: pointer;

				@include media('>=tablet') {
					flex-direction: row;
					padding-bottom: 10px;
				}

				@include media('>=desktop') {
					flex-direction: row;
					padding-left: 30px;
					padding-bottom: 10px;
				}

				@include media('>1300px') {
					flex-direction: row;
					padding-bottom: 40px;
				}

				.profile-left {
					display: flex;
					flex-direction: column;
					margin-bottom: 10px;
					margin-right: 0;
					flex: 1;

					@include media('>=tablet') {
						margin-right: 20px;
					}

					.profile-identity {
						display: flex;
						margin-bottom: 10px;

						.box-1 {
							flex-basis: 50px;
							margin-right: 10px;

							.resume-image {
								width: 50px;
								height: 50px;
								object-fit: cover;
								border-radius: 50%;
							}
						}

						.box-2 {
							flex-basis: 85%;

							@include media('<375px') {
								flex-basis: 75%;
							}

							.id-code,
							.headline {
								margin-bottom: 0;
								color: $black;
								font-weight: 700;
							}

							.headline {
								display: -webkit-box;
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 1;
								overflow: hidden;
							}
						}
					}

					.profile-stats {
						display: flex;
						justify-content: space-between;

						@include media('<1300px') {
							flex-direction: column;
						}

						.box-1 {
							.about-yourself {
								height: 20px;
								width: 200px;
							}
						}

						.box-2 {
							display: flex;

							.availability {
								margin-bottom: 0;
								font-weight: 700;
								color: $lightBlue;
							}
						}

						.box-3 {
							display: flex;

							.rating-color {
								font-size: 16px;

								&.checked {
									color: $lightBlue;
								}
							}
						}
					}

					.specialty-software {
						display: grid;
						margin-bottom: 10px;

						.specialty-software-arrow {
							background-color: transparent;
							border: none;
							color: $black;
							padding: 0 10px;
							grid-row: 1/-1;
						}

						.specialty-software-list {
							display: flex;
							overflow-x: auto;
							scrollbar-width: none;
							scroll-behavior: smooth;
							grid-row: 1/1;
							-ms-overflow-style: none;

							&::-webkit-scrollbar {
								display: none;
							}

							.specialty-software-item {
								color: #606060;
								background-color: #d6d6d6;
								margin-right: 5px;
								padding: 5px 10px;
								border-radius: 30px;
								font-size: 14px;
								font-weight: 500;
								flex: none;
							}
						}
					}

					.recruitment-comments {
						.recruiters-comment {
							display: -webkit-box;
							-webkit-box-orient: vertical;
							-webkit-line-clamp: 3;
							overflow: hidden;
							margin-bottom: 0;
						}
					}

					.see-resume {
						background-color: transparent;
						border: none;
						color: $darkBlue;
						font-weight: 700;
						padding: 0;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				.profile-right {
					min-width: 300px;

					.button {
						background-color: $white;
						color: $flatBlack;
						border-color: $flatBlack;

						&.remove {
							background-color: $flatBlack;
							color: $white;
						}
					}

					.mini-slide {
						position: relative;
						margin-top: 20px;

						.carousel-control-prev,
						.carousel-control-next {
							color: #606060;
							font-size: 2rem;
							top: auto;
							bottom: -2.1rem;
							width: 1rem;
							font-size: 24px;
						}

						.carousel-control-next {
							right: auto;
							left: 1.5rem;
						}

						.carousel-control-prev {
							left: 0;
						}

						.carousel-item {
							img {
								display: block;
								height: 270px;
								width: 300px;

								@include media('>=tablet') {
									height: 180px;
								}
							}
						}

						.num {
							position: absolute;
							bottom: -2.1rem;
							right: 0;
							color: #606060;
							font-weight: 600;
							font-size: 16px;
						}
					}
				}
			}
		}
	}

	footer {
		margin: 100px 0;

		.button {
			padding: 12px;
			width: 200px;
			background-color: $white;
			border-color: $darkBlue;
			color: $darkBlue;
			border-radius: 30px;
		}
	}

	.talk-recruiter {
		display: flex;
		align-items: center;
		padding: 200px 0 150px;
		flex-direction: column;

		.title {
			margin-bottom: 20px;
			text-align: center;
		}

		.button {
			background-color: $white;
			border-color: $darkBlue;
			color: $darkBlue;
			border-radius: 30px;
			font-weight: 700;
			font-size: 16px;
			padding: 12px 24px;
			margin: 10px 0;
		}

		.list {
			margin-top: 10px;
			list-style-type: none;
			display: flex;
			flex-direction: column;

			@include media('>=576px') {
				flex-direction: row;
			}

			.item {
				margin-right: 10px;

				&::before {
					color: $darkGray;
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
					content: '\f00c';
					// margin-right: 10px;
					margin-right: 5px;
				}
			}
		}
	}
}

// #seeResume {
//     .modal-header {
//         border-bottom: 0;
//     }

//     .close {
//         position: absolute;
//         top: 12px;
//         right: 24px;
//     }

//     .modal-body {
//         padding: 3rem 3rem 0;

//         .item-title {
//             &.color-1 {
//                 color: #298494;
//                 font-weight: 600;
//             }

//             &.color-2 {
//                 color: #0c3961;
//                 font-weight: 600;
//             }
//         }

//         .resume-image {
//             height: 200px;
//             border-radius: 50%;
//             object-fit: cover;
//         }

//         .button {
//             background-color: #0c3961;
//             color: #ffffff;
//             border-color: #0c3961;
//             width: 250px;
//             border-radius: 20px;
//             margin-bottom: 10px;

//             &.shortlist-candidates {
//                 background-color: #ffffff;
//                 color: #606060;
//                 border-color: #606060;
//             }
//         }

//         .fullname {
//             color: #0c3961;
//             font-weight: 700;
//         }

//         .city,
//         .eng-pro,
//         .availability,
//         .specialty,
//         .software {
//             color: #606060;
//             font-weight: 500;
//         }

//         .rating-color {
//             color: #ababac;

//             &.checked {
//                 color: #4adad8;
//             }
//         }

//         .salary {
//             color: #0c3961;
//             font-weight: 600;
//         }

//         .upload-work-images,
//         .upload-work-documents {
//             .figure-img {
//                 height: 160px;
//                 width: 160px;
//                 object-fit: cover;
//             }

//             .figure-caption {
//                 text-align: center;
//                 color: #606060;
//                 font-weight: 500;
//             }
//         }

//         .work-history-item,
//         .education-item {
//             border-bottom: 2px solid #d5d5d5;
//             padding-bottom: 1rem;
//             margin-bottom: 0.7rem;

//             &:nth-last-child(1) {
//                 border-bottom: none;
//             }
//         }

//         .education-item {
//             .item-choices {
//                 color: #298494;
//                 font-weight: 600;
//             }

//             .item-title {
//                 width: 18rem;
//                 color: #ababac;
//                 font-weight: 500;
//             }
//         }

//         .work-history-item {
//             .title {
//                 color: #298494;
//                 font-weight: 600;
//                 margin-bottom: 10px;
//             }

//             .company {
//                 margin-bottom: 0;
//             }

//             .company,
//             .month-year {
//                 color: #606060;
//                 font-weight: 600;
//             }

//             .item-title {
//                 color: #818181;
//                 font-weight: 600;
//                 margin-bottom: 0;
//             }

//             .description,
//             .about {
//                 color: #606060;
//                 font-weight: 500;
//             }
//         }
//     }

//     .modal-footer {
//         border-top: 0;
//     }
// }
